body {
  background-color: #56079e;
  font-family: Brandongrotesque, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: Brandongrotesque, sans-serif;
  color: #56079e;
  font-size: 3em;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Brandongrotesque, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #56079e;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-top: 7vh;
  font-family: Brandongrotesque, sans-serif;
  color: #1fffce;
  font-size: 1.8em;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.main-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 1200px;
  padding: 10% 22%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(180deg, #56079e 47%, hsla(0, 0%, 100%, 0) 93%), -webkit-linear-gradient(90deg, #56079e, hsla(0, 0%, 100%, 0)), url('../images/hero_bg2x1x.jpg');
  background-image: linear-gradient(270deg, #56079e 47%, hsla(0, 0%, 100%, 0) 93%), linear-gradient(0deg, #56079e, hsla(0, 0%, 100%, 0)), url('../images/hero_bg2x1x.jpg');
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, auto, 1400px;
  background-repeat: repeat, repeat, no-repeat;
}

.main-wrapper:hover {
  border-bottom: 1px solid #1fffce;
}

.main-title {
  margin-top: 0px;
  font-family: Brandongrotesque, sans-serif;
  color: #fff;
  font-size: 5.9em;
  line-height: 82px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sub-title {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: Brandongrotesque, sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.cta-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(24, 255, 255, .15);
  text-decoration: none;
}

.arrow {
  -webkit-transform: translate(-23px, 0px) rotate(0deg);
  -ms-transform: translate(-23px, 0px) rotate(0deg);
  transform: translate(-23px, 0px) rotate(0deg);
  font-family: 'Fontawesome webfont', sans-serif;
  color: #1fffce;
  font-size: 40px;
  text-decoration: none;
}

.arrow.small {
  font-size: 30px;
}

.arrow-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.cta-text {
  display: block;
  margin-left: 1em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Brandongrotesque, sans-serif;
  color: #1fffce;
  font-size: 1em;
  line-height: 3em;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cta-text:hover {
  color: #18ffff;
}

.content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: left;
}

.second-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/time_machine_bg2x.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 20px;
}

.bg2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 20px;
}

.bg3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 40px;
}

.bg4 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 20px;
}

.bg5 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.purple {
  margin-top: 3vh;
  color: #56079e;
}

.third-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-image: url('../images/offer_bg2x.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/getIntouch_bg2x.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.blue {
  margin-top: 3vh;
  color: #1fffce;
}

.floating-box {
  position: relative;
  width: 80vw;
  margin-top: 10%;
  margin-bottom: 5%;
  padding: 5% 5vw 5% 8vw;
  background-color: #1fffce;
}

.contact-img {
  position: absolute;
  top: -24%;
  right: 5%;
  z-index: -1;
  display: block;
}

.offer_purple {
  margin-top: 3vh;
  color: #56079e;
}

.lines-omg {
  position: absolute;
  right: 1%;
  bottom: 170px;
}

.heading {
  color: #56079e;
}

.contact-section {
  max-width: 60vw;
  margin-left: 8vw;
}

.watch-video-btn {
  display: none;
  margin-top: 7vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  padding: 2vh 6%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #42017e;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px 0px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
  font-family: Brandongrotesque, sans-serif;
  color: #1fffce;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.nav-item:hover {
  border-bottom-color: cyan;
  color: cyan;
}

.nav-item.w--current {
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
  padding-left: 0px;
  border-bottom-color: #1fffce;
  background-color: transparent;
  color: #1fffce;
}

.body {
  background-color: #42017e;
  font-family: Brandongrotesque, sans-serif;
}

.memo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sides {
  -webkit-box-flex: 50%;
  -webkit-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  background-image: none;
}

.sides.left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  padding: 14vh 6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #56079e;
}

.sides.left.aqua {
  background-color: #1fffce;
}

.sides.left.yellow {
  padding-top: 12vh;
  padding-bottom: 12vh;
  background-color: #eafa55;
}

.sides.right {
  position: relative;
  padding-top: 14vh;
  padding-bottom: 14vh;
  background-image: -webkit-linear-gradient(180deg, transparent, #56079e), url('../images/joshua-reddekopp-412359.jpg');
  background-image: linear-gradient(270deg, transparent, #56079e), url('../images/joshua-reddekopp-412359.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.sides.right.rentals {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  background-image: none;
}

.sides.right.coverage {
  background-image: -webkit-linear-gradient(180deg, transparent, #eafa55), url('../images/paul-bence-391981.jpg');
  background-image: linear-gradient(270deg, transparent, #eafa55), url('../images/paul-bence-391981.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.sides.right.sponsorship {
  background-image: -webkit-linear-gradient(180deg, transparent, #56079e), url('../images/Untitled-2.jpg');
  background-image: linear-gradient(270deg, transparent, #56079e), url('../images/Untitled-2.jpg');
  background-position: 0px 0px, 50% 34%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.internal-p {
  margin-top: 2vh;
  font-size: 1.4em;
  line-height: 27px;
}

.product-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.product-info {
  padding: 6%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.pricing {
  margin-bottom: 5px;
  font-size: 18px;
}

.rental-details {
  margin-top: 15px;
}

.navbar-home {
  display: block;
  padding: 2vh 6%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #42017e;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 5%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #42017e;
}

.footer-logo {
  width: 60px;
}

.footer-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  color: hsla(0, 0%, 100%, .5);
  font-size: 18px;
  text-decoration: none;
}

.footer-link.first {
  margin-left: 0px;
  padding-left: 0px;
}

.footer-logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-text {
  color: hsla(0, 0%, 100%, .5);
  font-size: 16px;
}

.body-2 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.icon {
  margin-top: 100px;
  font-family: 'Fontawesome webfont', sans-serif;
  color: #1fffce;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.form {
  width: 60%;
  margin-top: 40px;
}

.form-field {
  height: 50px;
  margin-bottom: 15px;
  border: 1px solid #1fffce;
  background-color: #56079e;
  color: #1fffce;
  font-size: 16px;
  line-height: 22px;
}

.form-field:focus {
  color: #eafa55;
}

.form-field::-webkit-input-placeholder {
  color: #1fffce;
}

.form-field:-ms-input-placeholder {
  color: #1fffce;
}

.form-field::placeholder {
  color: #1fffce;
}

.textarea {
  border: 1px solid #1fffce;
  background-color: #56079e;
  color: #1fffce;
  font-size: 16px;
  line-height: 22px;
}

.textarea:focus {
  color: #eafa55;
}

.textarea::-webkit-input-placeholder {
  color: #1fffce;
}

.textarea:-ms-input-placeholder {
  color: #1fffce;
}

.textarea::placeholder {
  color: #1fffce;
}

.btn {
  margin-top: 30px;
  padding: 15px 40px;
  border-radius: 50px;
  background-color: #1fffce;
  color: #56079e;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  p {
    margin-top: 4vh;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .main-wrapper {
    position: static;
    min-height: 100vh;
    padding: 5%;
    background-image: -webkit-linear-gradient(270deg, #56079e, hsla(0, 0%, 100%, 0)), url('../images/hero_bg2x.jpg');
    background-image: linear-gradient(180deg, #56079e, hsla(0, 0%, 100%, 0)), url('../images/hero_bg2x.jpg');
    background-position: 0px 0px, 0px 100%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .main-title {
    width: 100%;
    font-size: 4.9em;
    line-height: 62px;
    letter-spacing: 0.15em;
  }
  .sub-title {
    font-size: 1.8em;
    letter-spacing: 0.15em;
  }
  .arrow-circle {
    width: 100%;
  }
  .content {
    width: 90vw;
  }
  .second-row {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .third-row {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact {
    min-height: 100vh;
    padding-bottom: 7%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .blue {
    width: 90vw;
  }
  .floating-box {
    left: 0vw;
    z-index: 1;
    width: 90%;
    padding: 7%;
  }
  .contact-img {
    top: -16%;
    right: 10px;
    width: 508px;
  }
  .lines-omg {
    top: -201px;
    right: 79px;
    bottom: auto;
    width: 259px;
  }
  .contact-section {
    max-width: 90vw;
    margin-left: 0vw;
  }
  .navbar {
    width: 100vw;
  }
  .nav-item {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 34px;
  }
  .menu-icon {
    background-color: transparent;
    color: #1fffce;
    font-size: 47px;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    right: -1px;
    background-color: transparent;
  }
  .memo-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .memo-wrapper.rentals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sides.left {
    height: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .sides.left.aqua {
    height: auto;
  }
  .sides.left.yellow {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sides.right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-image: none;
  }
  .sides.right.rentals {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .sides.right.coverage {
    background-image: -webkit-linear-gradient(270deg, transparent, #eafa55), url('../images/paul-bence-391981.jpg');
    background-image: linear-gradient(180deg, transparent, #eafa55), url('../images/paul-bence-391981.jpg');
    background-position: 0px 0px, -45px 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .sides.right.sponsorship {
    background-image: -webkit-linear-gradient(270deg, transparent, #56079e), url('../images/Untitled-2.jpg');
    background-image: linear-gradient(180deg, transparent, #56079e), url('../images/Untitled-2.jpg');
    background-position: 0px 0px, 50% 34%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .sides.right.memo {
    background-image: -webkit-linear-gradient(270deg, transparent, #56079e), url('../images/joshua-reddekopp-412359.jpg');
    background-image: linear-gradient(180deg, transparent, #56079e), url('../images/joshua-reddekopp-412359.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .navbar-home {
    width: 100vw;
  }
  .nav-bg {
    height: 100vh;
    background-color: #42017e;
  }
  .footer {
    padding: 5% 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer-logo {
    width: 70px;
  }
  .footer-logo-block {
    margin-top: 20px;
  }
  .form {
    width: 100%;
  }
}

@media (max-width: 767px) {
  p {
    line-height: 32px;
  }
  .main-title {
    font-size: 4.1em;
    line-height: 52px;
  }
  .floating-box {
    padding: 5%;
  }
  .lines-omg {
    top: -154px;
    right: 41px;
    width: 215px;
  }
  .sides.left {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .footer-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-link {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 30px;
    line-height: 34px;
  }
  p {
    width: 88vw;
    margin-top: 4vh;
    font-size: 1.5em;
    line-height: 26px;
  }
  .main-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-linear-gradient(270deg, #56079e, rgba(86, 7, 158, .5) 45%), url('../images/hero_bg2x.jpg'), -webkit-linear-gradient(270deg, #56079e, #56079e);
    background-image: linear-gradient(180deg, #56079e, rgba(86, 7, 158, .5) 45%), url('../images/hero_bg2x.jpg'), linear-gradient(180deg, #56079e, #56079e);
    background-position: 0px 0px, 50% 50%, 0px 0px;
    background-size: auto, contain, auto;
    background-repeat: repeat, no-repeat, repeat;
  }
  .main-title {
    font-size: 2.6em;
    line-height: 34px;
    letter-spacing: 0.15em;
  }
  .sub-title {
    margin-top: 10px;
    font-size: 1.4em;
    line-height: 27px;
  }
  .cta-text {
    line-height: 1.4em;
    letter-spacing: 2px;
  }
  .second-row {
    min-height: 110vh;
  }
  .third-row {
    min-height: 120vh;
    padding: 5%;
  }
  .floating-box {
    top: -8%;
  }
  .contact-img {
    top: -10%;
    right: 0px;
    display: block;
    width: 320px;
  }
  .offer_purple {
    width: 80vw;
  }
  .lines-omg {
    top: -226px;
    display: none;
    width: 199px;
  }
  .navbar {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .menu-icon {
    font-size: 36px;
  }
  .memo-wrapper.rentals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sides.left {
    padding-top: 12%;
    padding-bottom: 12%;
  }
  .sides.right.rentals {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .product-wrapper {
    margin-bottom: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar-home {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  .logo {
    width: 90px;
  }
  .footer {
    padding: 10% 14%;
  }
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer-link {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brandongrotesque';
  src: url('../fonts/BrandonGrotesque-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Brandongrotesque';
  src: url('../fonts/BrandonGrotesque-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Brandongrotesque';
  src: url('../fonts/BrandonGrotesque-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brandongrotesque';
  src: url('../fonts/BrandonGrotesque-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brandongrotesque';
  src: url('../fonts/BrandonGrotesque-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}